/* Define um conjunto de estilos padrão para todos os elementos na página. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Century Gothic", sans-serif;
}

/* Configura o corpo e a página HTML para ocupar 100% da altura da janela de visualização. */
body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* Define um container principal que usa flexbox para organizar o layout. */
#container {
  display: flex;
  height: 100%;
}

/* Define um container esquerdo que também utiliza flexbox e tem uma disposição em coluna. */
#left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Estiliza o painel superior esquerdo, alinhando os itens vertical e horizontalmente. */
.top-left-panel {
  flex: 1;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinhe os itens verticalmente ao centro */
  align-items: center; /* Alinhe os itens horizontalmente ao centro */
}

/* Define um painel direito com um fundo preto e uma posição relativa. */
.right-panel {
  position: relative;
  width: 50%;
  height: 100vh;
  background-color: #2b2b2b;
  border-left: 10px solid #000;
}

/* Estiliza o painel inferior esquerdo, alinhando os itens vertical e horizontalmente. */
.bottom-left-panel {
  flex: 1;
  gap: 5px;
  background-color: #2b2b2b;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Alinhe os itens verticalmente ao centro */
  align-items: center; /* Alinhe os itens horizontalmente ao centro */
  border-top: 10px solid #000;
}
